body {
  background-color: rgb(53, 53, 53);
  margin: 0 auto;
  font-family: "Lato";
  color: #000000;
}

.cart-popup {
  position: absolute;
  top: 70px; /* Ajusta la posición según sea necesario */
  right: 320px; /* Ajusta la posición según sea necesario */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  z-index: 1000;
}

.button-Popup {
  background-color: #000000;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
}
